{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.note) }}</div>
        <!--<div class="col-md-6">{#{ form_row(form.prenom_e) }#}</div>-->
        <!--<div class="col-md-2">{#{ form_row(form.matieres) }#}</div>-->
    </div>
    {{ form_widget(form) }}
<div class="text-right"><button class="btn btn-primary" style="color: #FFFFFF;">{{ button|default('Enregister') }}</button></div>
{{ form_end(form) }}
